@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_About_Layout.cshtml";

}

<!-- about section starts  -->
<section class="about" id="about">
    <br />
    <br />
    <br />
    <br />
    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">

        <div class="image">
            <img src="~/images/about-img.jpg" alt="">
        </div>

        <div class="content" style="width:100%;">
            <h3>Where Food serves best</h3>
            <p style="width:100%; word-wrap: break-word">
                L & J Services is credited for transforming how people consume and enjoy food. <br />
                We pride ourselves on being able to provide the most genuine taste of Africa and Ghanaian pride. <br />
                We want to broaden the food business and introduce the flavors of Ghana and otherwestern African cuisine to the south. <br />
                Visit us for a taste of Africa and unmatched service.<br />
                We also provide catering for events like parties, weddings. <br />
            </p>
            <p style="width:100%; word-wrap: break-word">
                Just give us a phone or send us an email a week or two before your event, and we'll offer you a surprise you won't soon forget. <br />
                Come eat, go tell, then return!<br />
                We are located at Shop 43 Container Market Crn Schoeman & Prinslo Pretoria Central.<br />
            </p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>free delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>


        </div>

    </div>

</section>

<!-- about section ends -->
