@{
    Layout = "~/Views/Shared/_Advertise_Layout .cshtml";

}

<br />
<br />
<br />
<br />

<!-- about section starts  -->

<section class="about" id="about">

    <h3 class="sub-heading"> about us </h3>
    <h1 class="heading"> why choose us? </h1>

    <div class="row">

        <div class="image">
            <img src="images/about-img.jpg" alt="">
        </div>

        <div class="content">
            <h3>Where Food serves best</h3>
            <h3 style="text-align: center; color: var(--green); font-size: 2rem; padding-top: 1rem;"> Jesus is Lord </h3>
            <p>
                L & J Services is credited for transforming how people consume and enjoy food. <br />
                We pride ourselves on being able to provide the most genuine taste of Africa and Ghanaian pride. <br />
                We want to broaden the food business and introduce the flavors of Ghana and otherwestern African cuisine to the south. <br />
                Visit us for a taste of Africa and unmatched service.<br />
                We also provide catering for events like parties, weddings. <br />
            </p>
            <p>
                Just give us a phone or send us an email a week or two before your event, and we'll offer you a surprise you won't soon forget. <br />
                Come eat, go tell, then return!<br />
                We are located at Shop 43 Container Market Crn Schoeman & Prinslo Pretoria Central.<br />
            </p>
            <div class="icons-container">
                <div class="icons">
                    <i class="fas fa-shipping-fast"></i>
                    <span>free delivery</span>
                </div>
                <div class="icons">
                    <i class="fas fa-dollar-sign"></i>
                    <span>easy payments</span>
                </div>
                <div class="icons">
                    <i class="fas fa-headset"></i>
                    <span>24/7 service</span>
                </div>
            </div>
            <a asp-area="" asp-controller="Login" asp-action="Login" class="btn">learn more</a>
        </div>

    </div>

</section>

<!-- about section ends -->
<!-- menu section starts  -->

<section class="menu" id="menu">

    <h3 class="sub-heading"> our menu </h3>
    <h1 class="heading"> today's speciality </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="images/menu-01.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Kenkey</h3>
                <p>Fermented maize dough is steamed while wrapped in banana leaves.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R12.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-02.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Kontomire Stew</h3>
                <p>Spinach or cocoyam soup along with fish or meat and spices. Gari, plantain, or plain rice nicely complement the dish.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R24.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-03.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>delicious food</h3>
                <p>The crispy fries are sweet and spicy, while the exterior has a crunchy texture, the interior is really soft, blessing you with the pleasure of sweetness.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R22.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-04.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Kelewele</h3>
                <p>The crispy fries are sweet and spicy, while the exterior has a crunchy texture, the interior is really soft, blessing you with the pleasure of sweetness.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R22.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-05.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Suya</h3>
                <p>Barbecued meats after they are marinated with spices.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R2.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-06.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Tuo Zaafi</h3>
                <p>The mingling of dried cassava and maize requires some hearty soup alongside to be enjoyed.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R32.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-07.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Apapransa</h3>
                <p>Palm nut and cornmeal soup cooked together to result in a solid chunk piece.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R25.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-08.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Red Red</h3>
                <p>Black-eyed peas cooked with tomatoes, ginger, and garlic.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R22.99</span>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="images/menu-09.jpg" alt="">
                <a asp-controller="Login" asp-action="Login" class="fas fa-heart"></a>
            </div>
            <div class="content">
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <h3>Ampesi</h3>
                <p>A platter consisting of cassava, cocoyam, yam, plantain, and potatoes, all boiled, is called ampesi.</p>
                <a asp-controller="Login" asp-action="Login" class="btn">Order</a>
                <span class="price">R42.99</span>
            </div>
        </div>

    </div>

</section>

<!-- menu section ends -->
<!-- review section starts  -->

<section class="review" id="review">

    <h3 class="sub-heading"> customer's review </h3>
    <h1 class="heading"> what they say </h1>

    <div class="swiper-container review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="images/pic-01.png" alt="">
                    <div class="user-info">
                        <h3>Sofia Kamoo</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>I have been weeping for the loss of my lucky eyelash for some time now. When I was in bed eating shriveled worms, a woman with 12 fingers broke in, grew a tentacle, and carried me to this place. I was immediately put out of my misery when I saw genie float out of the kitchen and present me with 12,000 meatloaf pies.</p>
            </div>



        </div>

    </div>

</section>

<!-- review section ends -->
<!-- loader part

<div class="loader-container">
    <img src="images/loader.gif" alt="">
</div>

-->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="js/script.js"></script>

<br />
<br />
<br />
<br />

