<style>

</style>
<script>
    /* Notifications */
    $('.alert').click(function () {
        $(this).fadeOut();
    });
</script>
<section>
    <div class="alert alert-warn">Warning! We're currently carrying out maintenance, some features may not work correctly.</div>
    <div class="alert alert-info">Here's some information you may find useful!</div>
    <div class="alert alert-error">An error occurred while attempting to register your account...</div>
    <div class="alert alert-success">Success!Your registration is now complete!</div>
</section>
