@{
    Layout = "~/Views/Shared/_Order_Layout.cshtml";

}
<!-- order section starts  -->
<section class="order" id="order">
    <br /><br /><br /><br />
    <h3 class="sub-heading"> order now </h3>
    <h1 class="heading"> free and fast </h1>

    <form action="">

        <h3>Your Order has been placed <br /> Thank you for your support</h3>

    </form>

</section>

<!-- order section ends -->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- custom js file link  -->
<script src="~/js/script.js"></script>

